---
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

type Props = {
	post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
const { author, description, image, tags, title, date} = post.data

const { data: authorDate } = await getEntry("team", author.id)
---


<article class="blog-post">
  <div class="blog-post-thumb">
    <img src={image} alt="blog-thum" />
  </div>
  <div class="blog-post-content">
    <div class="blog-post-tag">
      <a href="#">{tags}</a>
    </div>
    <div class="blog-post-title">
      <a
        href={`/posts/${post.slug}`}
      >
        {title}
      </a>
    </div>
    <div class="blog-post-meta">
      <ul>
        <li class=" text-gray-500 ">
          Di
          <a class="font" href="#">{authorDate.name}</a>
        </li>
        <li class=" text-gray-500 ">
          {date.toLocaleDateString(undefined)}<i class="fa fa-clock-o "></i> 10 minuti
        </li>
      </ul>
    </div>
    <p>
      {description}
    </p>
    <a
      href={`/posts/${post.slug}`}
      class="blog-post-action"
    >
      Leggi <i class="fa fa-angle-right"></i>
    </a>
  </div>
</article>
<style>
  .blog-section-title {
    margin-bottom: 45px;
  }
  .blog-section-title h2 {
    text-transform: capitalize;
  }
  h2 {
    font-size: 40px;
    line-height: 55px;
    color: #141414;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  p {
    font-size: 16px;
    color: gray;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .blog-post {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .blog-post-thumb {
    width: 40%;
    border-radius: 5px;
    overflow: hidden;
  }
  .blog-post-thumb img {
    width: 100%;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    vertical-align: middle;
    border-style: none;
  }
  .blog-post-content {
    width: 55%;
    margin-left: auto;
  }
  .blog-post-tag a {
    background-color: #000;
    padding: 4px 20px;
    display: inline-block;
    border-radius: 50px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .blog-post-title a {
    font-size: 26px;
    font-weight: 700;
    color: #141414;
    text-decoration: none;
    margin-bottom: 8px;
    display: block;
    transition: all 0.3s ease-in-out;
    font-family: jost, sans-serif;
  }
  .blog-post-meta ul {
    padding: 0;
    margin: 0 0 18px;
    display: flex;
    list-style: none;
  }
  .blog-post-meta ul li:not(:last-child) {
    margin-right: 10px;
  }

  .blog-post-meta ul li {
    font-size: 13px;
  }
  .blog-post-meta ul li a {
    color: #000;
  }
  .blog-post-action {
    color: #141414;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
  }
  @media (max-width: 680px) {
    .blog-section-title {
      margin-bottom: 30px;
      text-align: center !important;
    }
    .blog-section-title h2 {
      font-size: 35px;
    }
    .blog-post {
      display: block;
    }
    .blog-post-thumb {
      width: 100%;
      margin-bottom: 30px;
    }
    .blog-post-thumb img {
      width: 100%;
      transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    img {
      vertical-align: middle;
      border-style: none;
    }
    .blog-post-content {
      width: 100%;
      text-align: center;
    }
    .blog-post-content {
      margin-left: auto;
    }
    .blog-post-tag a {
      background-color: #000;
      padding: 4px 20px;
      display: inline-block;
      border-radius: 50px;
      text-decoration: none;
      font-size: 12px;
      color: #fff;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .blog-post-title a {
      font-size: 22px;
    }
    .blog-post-meta ul {
      justify-content: center;
    }
    .blog-post-meta ul li:not(:last-child) {
      margin-right: 10px;
    }
    .blog-post-content p {
      display: block;
    }
  }
</style>
